/*Rodapé*/

footer{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin: 0rem;
    padding: 0rem;
    height: 100px;
}

footer figure{
    margin: 1rem 0rem 0rem 0rem;
}

#Linkedin img, #GitHub img, #Experiencias img{
    max-width: 50px;
    margin: 0rem;
}